[General]
name:               Application nice name
url:                URL to the app
description:        A brief description of the app functionality
login_callback:     If user auth's successfully and is allowed to access app - the URL callback to load
forbidden_callback: If user auth's successfully but isn't allowed to access app - the forbidden URL callback to load
allow:              Comma separated list of LDAP groups allowed to access the app
deny_social:        True or false: default false       
admins:             Comma separated list of LDAP groups whose members are allowed to admin the app.